$accent-color: #ff6e30;
$accent-color_darken: #ce4307;
$accent-color_desaturated: #bc572b;
$add-color: #202020;
$add-color_lighten: #333;
$add-text-color: #fff;
$add-text-color_darken: #cacaca;
$header-footer-add-color: #4a4a4a;
$icon-color: #cacaca;
$input-color: #e9e9e9;
$main-color: #fff;
$main-text-color: #202020;

$add-font-family: "TTFirsNeue";
$main-font-family: "Roboto";

$gap: 30px;
