@import '_variables.scss';
@import '_mixins.scss';

.footer {
  padding: 26px 0 16px;
  background-color: $add-color;
  color: $add-text-color_darken;

  &__container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 440px 1fr auto;
  }

  &__logo-wrapper {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 7px;
    font-family: $add-font-family;
    font-size: 14px;
  }

  &__quote {
    max-width: 360px;
    line-height: 22px;
  }

  &__quote-author {
    color: darken($add-text-color_darken, 30%);
  }

  &__social-wrapper {
    display: grid;
    gap: 8px;
    justify-items: center;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .footer {
    &__container {
      grid-template-columns: 370px 1fr auto;
    }

    &__logo-wrapper {
      margin-top: 5px;
    }
  }
}

@media (max-width: 1023px) {
  .footer {
    padding-top: 30px;

    &__container {
      grid-template-columns: 1fr auto;
    }

    &__quote {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 0;

    &__container {
      max-width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      justify-content: center;
    }

    &__social-wrapper {
      order: 1;
      padding: 33px 0 29px;
      gap: 12px;
    }

    &__logo-wrapper {
      order: 2;
      justify-content: center;
      padding: 14px 0;
      background-color: $header-footer-add-color;
      font-size: 10px;

      .logo {
        justify-self: center;
      }
    }
  }
}
